*{
    box-sizing:0 ;
    margin:0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    text-transform: uppercase;
}
body{
    background-color: white;
    padding: 10px;
    margin: 20px;
}
.para{
    color: black;
    display: block;
    padding: 20px;
    
}
h4{
    font-size: 30px;
    margin-top: 10px;
    text-transform: capitalize;
    margin-bottom: 10px;
    
}
.chinny{
    color: black;
    display: block;
    padding: 20px;
} 
p{
    font-size: 20px;
    color: black;
}
.presh{
    color: black;
    display: block;
    padding: 20px;
}  
b{
    color: black;
    font-size: 30px;
}